---
import { INFORMACION_LIBROS } from "@/data/libros.js";
import Layout from "@/layouts/Layout.astro";
import ListaDeLibros from "@/components/ListaDeLibros.astro";
import Header from "@/components/Header.astro";

export async function getStaticPaths() {
    return INFORMACION_LIBROS.map((gradoEnLista, i) => ({
        params: { gradoURL: gradoEnLista.id },
    }));
}

const { gradoURL } = Astro.params;

const informacionGrado = INFORMACION_LIBROS.find(
    (gradoEnLista) => gradoEnLista.id === gradoURL
);

if (!informacionGrado) return Astro.redirect("/404");
---

<Layout title=`Viajando Entre Páginas | Libros - ${informacionGrado.grado}`>
    <Header />
    <main>
        <div class="header-libro">
            <h2>Recopilación libros para el {informacionGrado.grado}</h2>
            <h2>Docente: {informacionGrado.profesor}</h2>
            <h2>{informacionGrado.tema}</h2>
        </div>
        {
            informacionGrado.libros.length !== 0 ? (
                <ListaDeLibros
                    rutaGeneral={informacionGrado.ruta_general}
                    librosDelGrado={informacionGrado.libros}
                />
            ) : (
                <div style="display: flex; justify-content: center; align-items: center; margin: 100px 0px;">
                    <h3>NO HAY LIBROS DISPONIBLES PARA ESTE GRADO</h3>
                </div>
            )
        }
    </main>
</Layout>
