---
import Layout from "@/layouts/Layout.astro";
import { LIBROS_NEW } from "@/data/libros.js";
import Header from "@/components/Header.astro";
import InfoLibro from "@/components/InfoLibro.astro";

const { grado: gradoEnURL } = Astro.params;

export async function getStaticPaths() {
    return LIBROS_NEW[gradoEnURL].map((libroEnLista, i) => ({
        params: { libroURL: `libro-${libroEnLista.id}` },
    }));
}

const { libroURL } = Astro.params;

// Información del Grado y del libro
const infoGrado = LIBROS_NEW.find(
    (gradoEnLista) => gradoEnLista.id === gradoEnURL
);
const infoLibro = infoGrado.libros.find(
    (libroEnLista) => `libro-${libroEnLista.id}` == libroURL
);
if (!infoLibro) return Astro.redirect("/404");

// Extraemos el género del libro
let textoGenero = "";
if (infoLibro.genero.length == 1) {
    textoGenero = infoLibro.genero[0];
} else {
    for (const genero of infoLibro.genero) {
        textoGenero += `${genero} `;
    }
}
---

<Layout title={infoLibro.nombre}>
    <main>
        <Header />
        <section class="info">
            <div class="info-imagen">
                <picture>
                    <img
                        src={`/img/libros/${infoLibro.imagen_libro}.webp`}
                        alt={`Portada del libro ${infoLibro.nombre}`}
                        style={`view-transition-name: libro-${infoLibro.id}`}
                    />
                </picture>
            </div>
            <aside>
                <div class="info-general">
                    <h2 class="title-2">{infoLibro.nombre}</h2>
                    <p>{infoLibro.autor}</p>
                </div>
            </aside>
        </section>

        <section class="info-descripcion">
            <div>
                <InfoLibro titulo="Descripción" texto={infoLibro.descripcion} />
            </div>
            <div>
                <InfoLibro titulo="Editorial" texto={infoLibro.autor} />
                <InfoLibro titulo="Género(s)" texto={textoGenero} />
            </div>
            <div class="descargarLibro">
                <a href="#" target="_blank"> Descargar Libro </a>
            </div>
        </section>
    </main>
</Layout>
