---
import Layout from "@/layouts/Layout.astro";
import { LIBROS } from "@/data/libros.js";
import { LIBROS_NEW } from "@/data/libros.js";
import Header from "@/components/Header.astro";

const { grado: gradoEnURL } = Astro.params;

export async function getStaticPaths() {
    return LIBROS_NEW[gradoEnURL].map((libroEnLista, i) => ({
        params: { libroURL: `libro-${libroEnLista.id}` },
    }));
}

const { libroURL } = Astro.params;

const infoGrado = LIBROS_NEW.find(
    (gradoEnLista) => gradoEnLista.id === gradoEnURL
);

const infoLibro = infoGrado.libros.find(
    (libroEnLista) => `libro-${libroEnLista.id}` == libroURL
);

if (!infoLibro) return Astro.redirect("/404");
---

<Layout title="testt">
    <main>
        <Header />
        <section class="info">
            <div class="info-imagen">
                <picture>
                    <img
                        src={`/img/libros/${infoLibro.imagen_libro}.webp`}
                        alt={`Portada del libro ${infoLibro.nombre}`}
                        style={`view-transition-name: libro-${infoLibro.id}`}
                    />
                </picture>
            </div>
            <aside>
                <div class="info-general">
                    <h1>{infoLibro.nombre}</h1>
                    <p>Sinopsis: {infoLibro.descripcion}</p>
                    <p>Autor: {infoLibro.autor}</p>
                    <p>Año: {infoLibro.anio}</p>
                    <p>
                        Género(s):
                        {
                            infoLibro.genero.length == 1 ? (
                                <span class="genero">
                                    {infoLibro.genero[0]} &nbsp;
                                </span>
                            ) : (
                                infoLibro.genero.map((elem, i) => {
                                    return (
                                        <span class="genero">
                                            {elem} &nbsp;
                                        </span>
                                    );
                                })
                            )
                        }
                    </p>
                </div>

                <div>
                    <a href="#" class="descargarLibro" target="_blank">
                        Descargar Libro
                    </a>
                </div>
            </aside>
        </section>
    </main>
</Layout>
