---
import { INFORMACION_LIBROS } from "@/data/libros.js";
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header/Header.astro";

const listaLibros = INFORMACION_LIBROS.flatMap((libro, i) => libro.libros);
---

<Layout title="Viajando Entre Páginas | Libros">
    <Header linkActive="libros" />
    <main>
        <ul class="libros">
            {
                listaLibros.map((libro, i) => {
                    let rutaGeneral: string;
                    if (libro.id.includes("6")) {
                        rutaGeneral = "villa-del-rosario-tradicional";
                    }
                    if (libro.id.includes("7")) {
                        rutaGeneral = "mitos-y-leyendas";
                    }
                    if (libro.id.includes("8")) {
                        rutaGeneral = "obras-colombianas";
                    }
                    if (libro.id.includes("9")) {
                        rutaGeneral = "obras-latinoamericanas";
                    }
                    if (libro.id.includes("10")) {
                        rutaGeneral = "obras-espanolas";
                    }
                    if (libro.id.includes("11")) {
                        rutaGeneral = "obras-universales";
                    }
                    return (
                        <li class="li">
                            <a
                                class="book-shadow"
                                href={`/libros/${rutaGeneral}/${libro.ruta_especifica}`}
                            >
                                <picture>
                                    <source
                                        srcset={`/img/libros/${rutaGeneral}/${libro.ruta_especifica}.avif`}
                                        type="image/avif"
                                    />
                                    <img
                                        src={`/img/libros/${rutaGeneral}/${libro.ruta_especifica}.webp`}
                                        alt={`Imagen de la portada del libro ${libro.nombre}`}
                                        transition:name={libro.ruta_especifica}
                                    />
                                </picture>
                                <h4>{libro.nombre}</h4>
                                <span>{libro.autor}</span>
                                <div class="hoverLibro">
                                    <span>ENTRAR</span>
                                </div>
                            </a>
                        </li>
                    );
                })
            }
        </ul>
    </main>
</Layout>
