---
const { gradoId, listaLibros } = Astro.props;
---

<ul class="libros">
    {
        listaLibros.map((libro, index) => {
            return (
                <li>
                    <a href={`/${gradoId}/libro-${libro.id}`}>
                        <img
                            src={`/img/libros/${libro.imagen_libro}.webp`}
                            alt="Imagen portada del libro"
                            style={`view-transition-name: libro-${libro.id}`}
                        />
                        <h3>
                            <span>{gradoId}</span>
                            {libro.nombre}
                        </h3>
                    </a>
                </li>
            );
        })
    }
</ul>

<style>
    a {
        color: var(--color);
        text-decoration: none;
    }
</style>
