---
const { rutaGeneral, librosDelGrado } = Astro.props;
---

<ul class="libros">
    {
        librosDelGrado.map((libro, index) => {
            return (
                <li class="li">
                    <a
                        class="book-shadow"
                        href={`/libros/${rutaGeneral}/${libro.ruta_especifica}`}
                    >
                        <picture>
                            <source
                                srcset={`/img/libros/${rutaGeneral}/${libro.ruta_especifica}.avif`}
                                type="image/avif"
                            />
                            <img
                                src={`/img/libros/${rutaGeneral}/${libro.ruta_especifica}.webp`}
                                alt={`Imagen de la portada del libro ${libro.nombre}`}
                                transition:name={libro.ruta_especifica}
                            />
                        </picture>
                        <h4>{libro.nombre}</h4>
                        <span>{libro.autor}</span>
                        <div class="hoverLibro">
                            <span>ENTRAR</span>
                        </div>
                    </a>
                </li>
            );
        })
    }
</ul>
