---
import Layout from "@/layouts/Layout.astro";
import { INFORMACION_LIBROS } from "@/data/libros.js";
import Header from "@/components/Header.astro";
import InfoLibro from "@/components/InfoLibro.astro";

export async function getStaticPaths() {
    return INFORMACION_LIBROS.flatMap((grado) => {
        return grado.libros.map((libro) => {
            return {
                params: {
                    tema: `${grado.ruta_general}`,
                    libroURL: `${libro.ruta_especifica}`,
                },
            };
        });
    });
}

const { tema, libroURL } = Astro.params;

const informacionGrado = INFORMACION_LIBROS.find(
    (gradoEnLista) => gradoEnLista.ruta_general === tema
);

if (!informacionGrado) return Astro.redirect("/404");

const infoLibro = informacionGrado.libros.find(
    (libroEnLista) => libroEnLista.ruta_especifica == libroURL
);

// Extraemos el género del libro
let textoGenero = "";
if (infoLibro) {
    if (infoLibro?.genero.length == 1) {
        textoGenero = infoLibro.genero[0];
    } else {
        infoLibro?.genero.forEach((generoEnLibro, index) => {
            index !== infoLibro.genero.length - 1
                ? (textoGenero += `${generoEnLibro} - `)
                : (textoGenero += `${generoEnLibro}`);
        });
    }
}
---

<Layout title={infoLibro.nombre}>
    <Header />
    <main>
        <section class="info">
            <div class="info-imagen">
                <picture>
                    <source
                        srcset={`/img/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.avif`}
                        type="image/avif"
                    />
                    <img
                        src={`/img/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.webp`}
                        alt={`Portada del libro ${infoLibro.nombre}`}
                        transition:name={libroURL}
                    />
                </picture>
            </div>
            <aside>
                <div class="info-general">
                    <h2 class="title-2">
                        {infoLibro.nombre}
                    </h2>
                    <p>{infoLibro.autor}</p>
                </div>
            </aside>
        </section>

        <section class="info-descripcion">
            <div>
                <InfoLibro titulo="Descripción" texto={infoLibro.descripcion} />
            </div>
            <div>
                <InfoLibro titulo="Año" texto={infoLibro.anio} />
                <InfoLibro titulo="Género(s)" texto={textoGenero} />
            </div>
            <div class="descargarLibro">
                <a
                    href=`/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.pdf`
                    download
                >
                    Descargar Libro
                </a>
                <a
                    href=`/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.pdf`
                    target="_blank"
                >
                    Leer Libro
                </a>
            </div>
        </section>
    </main>
</Layout>
