---
import Layout from "@/layouts/Layout.astro";
import { INFORMACION_LIBROS } from "@/data/libros.js";
import Header from "@/components/Header/Header.astro";
import InfoLibro from "@/components/InfoLibro.astro";

export async function getStaticPaths() {
    return INFORMACION_LIBROS.flatMap((grado) => {
        return grado.libros.map((libro) => {
            return {
                params: {
                    tema: `${grado.ruta_general}`,
                    libroURL: `${libro.ruta_especifica}`,
                },
            };
        });
    });
}

const { tema, libroURL } = Astro.params;

const informacionGrado = INFORMACION_LIBROS.find(
    (gradoEnLista) => gradoEnLista.ruta_general === tema
);

if (!informacionGrado) return Astro.redirect("/404");

const infoLibro = informacionGrado.libros.find(
    (libroEnLista) => libroEnLista.ruta_especifica == libroURL
);

// Extraemos el género del libro
let textoGenero = "";
if (infoLibro) {
    if (infoLibro?.genero.length == 1) {
        textoGenero = infoLibro.genero[0];
    } else {
        infoLibro?.genero.forEach((generoEnLibro, index) => {
            index !== infoLibro.genero.length - 1
                ? (textoGenero += `${generoEnLibro} - `)
                : (textoGenero += `${generoEnLibro}`);
        });
    }
}
---

<Layout title={infoLibro.nombre}>
    <Header />
    <main>
        <section class="info">
            <div class="info-imagen">
                <picture>
                    <source
                        srcset={`/img/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.avif`}
                        type="image/avif"
                    />
                    <img
                        src={`/img/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.webp`}
                        alt={`Portada del libro ${infoLibro.nombre}`}
                        transition:name={libroURL}
                    />
                </picture>
            </div>
            <aside>
                <div class="info-general">
                    <h2 class="title-2">
                        {infoLibro.nombre}
                    </h2>
                    <p>{infoLibro.autor}</p>
                </div>
            </aside>
        </section>

        <section class="info-descripcion">
            <div>
                <InfoLibro titulo="Descripción" texto={infoLibro.descripcion} />
            </div>
            <div>
                <InfoLibro titulo="Año" texto={infoLibro.anio} />
                <InfoLibro titulo="Género(s)" texto={textoGenero} />
            </div>
            <div class="descargarLibro">
                <a
                    href=`/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.pdf`
                    download
                >
                    Descargar Libro
                </a>
                <a
                    href=`/libros/${informacionGrado.ruta_general}/${infoLibro.ruta_especifica}.pdf`
                    target="_blank"
                >
                    Leer Libro
                </a>
            </div>
        </section>
    </main>
</Layout>

<style>
    .info {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .info-imagen {
        text-align: center;
        z-index: 1;
    }

    .info-imagen img {
        width: 100%;
        height: 350px;
        max-width: 230px;
        box-shadow: -12px 12px 20px 2px rgba(0, 0, 0, 0.5);
    }

    .info-general {
        margin-bottom: 40px;
    }

    .info-general .genero {
        text-transform: capitalize;
    }
    .info aside {
        padding: 0px 20px;
    }
    .info-descripcion {
        position: relative;
        top: -100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 160px 80px 80px;
        background-color: var(--white);
        border-radius: 8px;
        outline: 1px solid var(--border);
    }

    .info-descripcion > div {
        padding: 0 20px;
    }
    .info-descripcion > div:last-child {
        display: flex;
        justify-content: space-between;
        padding: 48px 20px;
    }
    .descargarLibro {
        position: absolute;
        top: 0px;
        right: 80px;
        width: calc(50% - 80px);
        border-bottom: 2px solid rgba(27, 31, 43, 0.1);
    }
    .descargarLibro a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 24px;
        color: var(--white);
        background-color: var(--border);
        border: 1px solid var(--border);
        text-decoration: none;
    }
    .descargarLibro a:hover {
        color: var(--border);
        background-color: var(--white);
    }
</style>
